/* ===================================================
   Home Page Layer
   只影响首页
   =================================================== */

/* 轮播必须铺满 */
.page-home .hero.hero--carousel .hero-media{
  width:100%;
  height:100%;
  overflow:hidden;
}

.page-home .hero.hero--carousel img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
  display:block;
}
