/* ===================================================
   Post Page Layer
   只影响文章页
   =================================================== */

.page-post .hero{
  overflow:hidden;
  border-radius:var(--radius);
}

.page-post .hero img{
  width:100%;
  height:auto;
  display:block;
}
